# Version 1.0 Model Predictions

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

## Import Data Sets
Here we will import `NetC_Expanded` which is data seperated by management style, result and slavage status, and we will import the predictors and join those datasets.

In [2]:
netc_expanded = pd.read_csv('../Data/NetC_Expanded.csv')
netc_expanded = netc_expanded.drop(['Unnamed: 0'], axis=1)
netc_expanded.head()

   TimeStep  Risk_Cat                Stand_ID  Salvage Management      Result
0         0         4  0023200606030102900043     True      Heavy -249.287884
1         0         4  0023200606030102900043     True     NoMgmt -321.931519
2         0         4  0023200606030102900043     True   Moderate -276.111511
3         0         4  0023200606030102900043     True   Comm-Ind -250.583375
4         0         4  0023200606030102900043     True  HighGrade -293.426896

In [3]:
predictors = pd.read_csv('../Data/Predict_SBW_wCarbon_T0to40.csv')
predictors = predictors.rename(columns={'StandID': 'Stand_ID'})
predictors = predictors.set_index('Stand_ID')
predictors = predictors[["BF_BA","OHost_BA","BF_Stock","OHost_Stock","NonHost_Stock","BF_QMD","ELEV","SLOPE","ASPECT","LAT","SiteInd"]]
predictors.head()

,BF_BA,OHost_BA,BF_Stock,OHost_Stock,NonHost_Stock,BF_QMD,ELEV,SLOPE,ASPECT,LAT,SiteInd
Stand_ID,,,,,,,,,,,
0023200606030200300067,NaN,0.498332,NaN,0.883600,56.9255,NaN,580,5.0,240.0,46.14358,NaN
0023200606030200300826,3.899610,11.890484,21.8437,0.885569,18.6635,4.965398,1170,0.0,0.0,47.19684,28.0
0023200606030200300924,0.036869,7.443510,0.2679,1.166825,3.8019,2.600000,990,0.0,0.0,46.64171,33.0
0023200606030301901813,0.967649,1.368845,63.7216,1.609179,12.1858,2.106063,180,0.0,0.0,45.09319,40.0
0023200606030400901513,3.352901,6.679677,73.4189,1.397641,18.2434,3.405766,250,0.0,0.0,44.73563,NaN

## Selecting Management Style 
Gong to define a management style upfront to create rule set

In [226]:
MANAGEMENT_STYLE = 'NoMgmt'

mgmt_df = netc_expanded[netc_expanded['Management'] == MANAGEMENT_STYLE]

Here is an example of what we see in the mgmt_df after grouping stand_id and getting the value at timestep 40

In [237]:
x = mgmt_df[(mgmt_df['Stand_ID'] == '0023200606030400901513') & 
            (mgmt_df['TimeStep'] == 40)].groupby('Salvage').head().set_index('Salvage')
x

         TimeStep  Risk_Cat                Stand_ID Management      Result
Salvage
True           40         1  0023200606030400901513     NoMgmt -340.709429
False          40         1  0023200606030400901513     NoMgmt -286.246874

In [245]:
assess_df = mgmt_df.set_index('Stand_ID')
assess_df = assess_df[assess_df['TimeStep'] == 40]
assess_df = assess_df[['Salvage', 'Result']]

Choosing a left join to drop `na` for

In [15]:
def get_mgmt_df(target_df, pred_df, tol):
    """
    Returns labeled DF for salvage and non salvage decisions
    """
    temp_df = pd.DataFrame(columns=['Stand_ID', 'Salvage_Good', 'Result'])
    for stand in target_df['Stand_ID'].unique():
#         group_df = target_df[
#             target_df['Stand_ID'] == stand
#         ].groupby(['Salvage']).agg({'Result': np.min})

        group_df = target_df[(target_df['Stand_ID'] == stand)
                             & (target_df['TimeStep'] == 40)]
        group_df = group_df.set_index('Salvage')
        
        # calculate diff
        diff = group_df['Result'].min() - group_df['Result'].max()
        
        # If index is True where min is acheived
        if group_df['Result'].idxmin() and diff > tol:
            temp_df = temp_df.append(
                pd.DataFrame({
                    'Stand_ID': [stand],
                    'Salvage_Good': [True],
                    'Result': [group_df['Result'].min()],
                    'diff': [diff]
                })
            )
        else:
            temp_df = temp_df.append(
                pd.DataFrame({
                    'Stand_ID': [stand],
                    'Salvage_Good': [False],
                    'Result': [group_df['Result'].min()],
                    'diff': [diff]
                })
            )
            
    temp_df = temp_df.set_index('Stand_ID')
    return pd.merge(pred_df, temp_df, on="Stand_ID", right_index=True)

In [157]:
heavy_df = get_mgmt_df(mgmt_df, predictors)

In [158]:
heavy_df = heavy_df.dropna()

In [165]:
heavy_df.head()

,BF_BA,OHost_BA,BF_Stock,OHost_Stock,NonHost_Stock,BF_QMD,ELEV,SLOPE,ASPECT,LAT,SiteInd,Salvage_Good,Result,diff
Stand_ID,,,,,,,,,,,,,,
0023200606030200300826,3.899610,11.890484,21.8437,0.885569,18.6635,4.965398,1170,0.0,0.0,47.19684,28.0,True,-378.709805,-37.679733
0023200606030200300924,0.036869,7.443510,0.2679,1.166825,3.8019,2.600000,990,0.0,0.0,46.64171,33.0,True,-384.995331,-70.047821
0023200606030301901813,0.967649,1.368845,63.7216,1.609179,12.1858,2.106063,180,0.0,0.0,45.09319,40.0,True,-537.624581,-135.395987
0023200606030702501209,2.604667,6.283662,46.1259,1.327920,37.9627,3.545086,1360,0.0,0.0,46.33241,31.0,True,-261.114995,-41.523743
0023200606030702501226,17.937933,19.655671,60.2632,0.808564,11.8988,6.622135,1480,25.0,216.0,45.69559,38.0,False,-258.286555,-8.176985

Here we can see that the option to not salvage benefited more than salvaging, so in this case we won't offer salvage credit.

## Baselines

### (1) Don't Salvage At All

In [160]:
no_salvage = mgmt_df[mgmt_df['Salvage'] == False]
no_salvage_score = no_salvage['Result'].sum()
no_salvage_score

-12654574.661524

### (2) Only Salvage

In [161]:
only_salvage = mgmt_df[mgmt_df['Salvage'] == True]
only_salvage_score = only_salvage['Result'].sum()
only_salvage_score

-12592038.039989343

In [162]:
only_salvage_score - no_salvage_score

62536.62153465673

## Split Data

In [163]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [166]:
X = heavy_df.drop(['Salvage_Good', 'Result'], axis=1)
y = heavy_df[['Salvage_Good']].astype('int')

In [167]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [168]:
train = X_train.copy()
train['Salvage_Good'] = y_train.to_numpy()

### SKOPE Rules

In [54]:
from imodels.rule_set.skope_rules import SkopeRulesClassifier
from sklearn.metrics import accuracy_score

import matplotlib.pyplot as plt

In [148]:
try:
    X_train = X_train.drop(['diff'], axis=1)
    X_test = X_test.drop(['diff'], axis=1)
except KeyError:
    pass

In [124]:
clf = SkopeRulesClassifier(
    max_depth_duplication=None,
    n_estimators=1,
    precision_min=0.5,
    recall_min=0.05, 
)
clf.fit(X_train, y_train.to_numpy().ravel())

SkopeRulesClassifier(n_estimators=1, recall_min=0.05)

In [126]:
y_pred = clf.predict_top_rules(X_test, 4)
accuracy_score(y_test, y_pred)

0.8313679245283019

In [128]:
def show_rules():
    """ 
    plot rules over time
    """
    preds = [accuracy_score(y_train, clf.predict_top_rules(X_train, i)) for i in range(200)]
    plt.plot([i for i in range(len(preds))],  preds)

show_rules()

In [152]:
for rule in clf.rules_:
    print(rule[0])

feature_2 > 3.239799976348877 and feature_5 <= 5.624220609664917
feature_2 > 3.239799976348877 and feature_5 <= 6.779428720474243 and feature_5 > 5.624220609664917
feature_0 > 3.3459471464157104 and feature_5 <= 10.040929317474365 and feature_5 > 6.779428720474243
feature_2 <= 3.239799976348877 and feature_4 > 30.445350646972656 and feature_5 <= 6.779428720474243

In [136]:
y_pred = clf.predict_top_rules(X_test, 4)
accuracy_score(y_test, y_pred)

0.8313679245283019

In [154]:
def print_columns(X, cols):
    print("RULES LEARNED: ")
    for col in cols:
        print("feature_{} is {}".format(col, X_train.columns[col]))
        
        
print_columns(X_test, [0,2,4,5])

RULES LEARNED:
feature_0 is BF_BA
feature_2 is BF_Stock
feature_4 is NonHost_Stock
feature_5 is BF_QMD

### (4) Skope Rules (assess savings)

In [252]:
tmp = pd.merge(assess_df, X_test, on="Stand_ID")
tmp.head()

,Salvage,Result,BF_BA,OHost_BA,BF_Stock,OHost_Stock,NonHost_Stock,BF_QMD,ELEV,SLOPE,ASPECT,LAT,SiteInd,diff,preds
Stand_ID,,,,,,,,,,,,,,,
0023200606030102900130,True,-385.333983,0.220614,4.766196,11.1036,1.444767,21.7586,3.180016,340,0.0,0.0,44.99047,30.0,-4.506959,0
0023200606030102900130,False,-380.827024,0.220614,4.766196,11.1036,1.444767,21.7586,3.180016,340,0.0,0.0,44.99047,30.0,-4.506959,0
0023200606030102900675,True,-376.939162,1.935952,2.632646,42.6806,1.036891,29.7068,2.873131,110,0.0,0.0,45.02692,36.0,-40.916907,1
0023200606030102900675,False,-336.022255,1.935952,2.632646,42.6806,1.036891,29.7068,2.873131,110,0.0,0.0,45.02692,36.0,-40.916907,1
0023200606030102900996,True,-453.691333,1.258020,2.274536,27.0474,1.533321,26.5787,3.796874,240,0.0,0.0,44.95300,42.0,-28.727318,1

In [255]:
tmp[(tmp['Salvage'] == True) & (tmp['preds'] == 1)].Result.sum()

-486184.36441800004

In [257]:
def assess_savings(X_test, y_pred):
    """
    Append predicitons and sum slavage/no salvage results 
    """
    # add predictions
    test_df = X_test.copy()
    test_df['y_pred'] = y_pred
    
    # merge with management 
    temp = pd.merge(assess_df, X_test, on="Stand_ID")
    
    salvage_sum = temp[(temp['Salvage'] == True) & (temp['preds'] == 1)].Result.sum()
    no_salvage_sum = temp[(temp['Salvage'] == False) & (temp['preds'] == 0)].Result.sum()
    
    return salvage_sum + no_salvage_sum

In [262]:
skope_rules_score = assess_savings(X_test, y_pred)

In [264]:
(skope_rules_score - no_salvage_score) / IP

1209.31772962662

## Boolean Compressed Sensing

### Naive Split

In [48]:
def create_design_matrices(df, quantiles):
    """Create A_N and A_P"""
    measurement = pd.DataFrame()
    measurement['Salvage_Good'] = df['Salvage_Good']
    labels = ['Q' + str(q) for q in range(1, quantiles+1)]
    bins = []

    for col in df:
        if col == 'Result' or col == 'Salvage_Good':
            continue

        try:
            measurement[col], b = pd.qcut(df[col], quantiles, labels=labels, retbins=True)
            bins.append(b)
        except ValueError:
            labels = ['Q' + str(q) for q in range(1, quantiles-1)]
            measurement[col] = pd.qcut(heavy_df[col], quantiles-2, labels=labels)
            labels = ['Q' + str(q) for q in range(1, quantiles)]

    measurement = pd.get_dummies(measurement, drop_first=False)
    A_p = measurement[measurement['Salvage_Good'] == 1].drop('Salvage_Good', axis=1)
    A_n = measurement[measurement['Salvage_Good'] != 1].drop('Salvage_Good', axis=1)


    return A_p.to_numpy(), A_n.to_numpy(), measurement.to_numpy(), list(A_p.columns), bins

In [49]:
def create_test_matrix(df, features, bins):
    temp = pd.DataFrame()
    for i, col in enumerate(df):
        temp[features[i]] = df[col].apply(
            lambda x: 1 if x >= bins[i][1] else 0
        )

    return temp

In [50]:
A_p, A_n, measurement, features, bins = create_design_matrices(train, 2)

In [51]:
test_design = create_test_matrix(X_test, features, bins)

### Learn Sparse Rules

In [27]:
import gurobipy as gp
from gurobipy import GRB

In [28]:
m = gp.Model("rule-extraciton")

--------------------------------------------
Warning: your license will expire in 13 days
--------------------------------------------

Using license file /home/sean/gurobi.lic
Academic license - for non-commercial use only - expires 2020-12-08

In [29]:
w = m.addMVar(shape=A_p.shape[1], vtype=GRB.BINARY, name="weights")
psi_p = m.addMVar(shape=A_p.shape[0], name="psi_p")
psi_n = m.addMVar(shape=A_n.shape[0], name="psi_n")

In [30]:
m.addConstr(w <= 1.0)
m.addConstr(w >= 0.0)
m.addConstr(psi_p <= 1)
m.addConstr(psi_p >= 0)
m.addConstr(psi_n >= 0)
m.addConstr(A_p @ w + psi_p >= 1.0)
m.addConstr(A_n @ w == psi_n)
m.update()

In [31]:
m.setObjective(sum(w) + 1000 * (sum(psi_p) + sum(psi_n)), GRB.MINIMIZE)

In [32]:
m.optimize()

Gurobi Optimizer version 9.1.0 build v9.1.0rc0 (linux64)
Thread count: 6 physical cores, 12 logical processors, using up to 12 threads
Optimize a model with 9667 rows, 3411 columns and 46946 nonzeros
Model fingerprint: 0xd1e0faac
Variable types: 3389 continuous, 22 integer (22 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [1e+00, 1e+03]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 1e+00]
Found heuristic solution: objective 1918006.0000
Presolve removed 8838 rows and 2560 columns
Presolve time: 0.02s
Presolved: 829 rows, 851 columns, 9948 nonzeros
Variable types: 0 continuous, 851 integer (851 binary)

Root relaxation: objective 5.440020e+05, 348 iterations, 0.01 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

*    0     0               0    544002.00000 544002.000  0.00%     -    0s

Explored 0 nodes (348 simplex iterations) in 0.04 seconds
Thread count was 12 (of 12 available processors)

Solution count 2: 544002 1.91801e+06

Optimal solution found (tolerance 1.00e-04)
Best objective 5.440020000000e+05, best bound 5.440020000000e+05, gap 0.0000%

In [33]:
m.getVarByName("weights[0]")
for i in range(measurement.shape[1]):
    print(m.getVarByName("weights[" + str(i) + "]"))

<gurobi.Var weights[0] (value -0.0)>
<gurobi.Var weights[1] (value 0.0)>
<gurobi.Var weights[2] (value -0.0)>
<gurobi.Var weights[3] (value 0.0)>
<gurobi.Var weights[4] (value -0.0)>
<gurobi.Var weights[5] (value 0.0)>
<gurobi.Var weights[6] (value 0.0)>
<gurobi.Var weights[7] (value -0.0)>
<gurobi.Var weights[8] (value 0.0)>
<gurobi.Var weights[9] (value -0.0)>
<gurobi.Var weights[10] (value 0.0)>
<gurobi.Var weights[11] (value -0.0)>
<gurobi.Var weights[12] (value 0.0)>
<gurobi.Var weights[13] (value -0.0)>
<gurobi.Var weights[14] (value 0.0)>
<gurobi.Var weights[15] (value 0.0)>
<gurobi.Var weights[16] (value 0.0)>
<gurobi.Var weights[17] (value -0.0)>
<gurobi.Var weights[18] (value 1.0)>
<gurobi.Var weights[19] (value 1.0)>
<gurobi.Var weights[20] (value -0.0)>
<gurobi.Var weights[21] (value 0.0)>
None

## Evaluate

### Raw Accuracy

In [37]:
features[18]

'LAT_Q1'

In [38]:
features[19]

'LAT_Q2'

In [36]:
test_design['y_pred'] = np.where((test_design[features[12]] == 1) 
                                 & (test_design[features[13]] == 1), 1, 0)

KeyError: 'ELEV_Q1'

In [ ]:
test_design

In [ ]:
test_design

In [ ]:
accuracy_score(y_test, test_design['y_pred'])

In [ ]:
y_test.value_counts()

## Analysis