# Version 1.0 Model Predictions

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

## Import Data Sets
Here we will import `NetC_Expanded` which is data seperated by management style, result and slavage status, and we will import the predictors and join those datasets.

In [2]:
netc_expanded = pd.read_csv('../Data/NetC_Expanded.csv')
netc_expanded = netc_expanded.drop(['Unnamed: 0'], axis=1)
# netc_expanded = netc_expanded.set_index('Stand_ID')
netc_expanded.head()

   TimeStep  Risk_Cat                Stand_ID  Salvage Management      Result
0         0         4  0023200606030102900043     True      Heavy -249.287884
1         0         4  0023200606030102900043     True     NoMgmt -321.931519
2         0         4  0023200606030102900043     True   Moderate -276.111511
3         0         4  0023200606030102900043     True   Comm-Ind -250.583375
4         0         4  0023200606030102900043     True  HighGrade -293.426896

In [3]:
predictors = pd.read_csv('../Data/Predict_SBW_wCarbon_T0to40.csv')
predictors = predictors.rename(columns={'StandID': 'Stand_ID'})
predictors = predictors.set_index('Stand_ID')
predictors = predictors[["BF_BA","OHost_BA","BF_Stock","OHost_Stock","NonHost_Stock","BF_QMD","ELEV","SLOPE","ASPECT","LAT","SiteInd"]]
predictors.head()

,BF_BA,OHost_BA,BF_Stock,OHost_Stock,NonHost_Stock,BF_QMD,ELEV,SLOPE,ASPECT,LAT,SiteInd
Stand_ID,,,,,,,,,,,
0023200606030200300067,NaN,0.498332,NaN,0.883600,56.9255,NaN,580,5.0,240.0,46.14358,NaN
0023200606030200300826,3.899610,11.890484,21.8437,0.885569,18.6635,4.965398,1170,0.0,0.0,47.19684,28.0
0023200606030200300924,0.036869,7.443510,0.2679,1.166825,3.8019,2.600000,990,0.0,0.0,46.64171,33.0
0023200606030301901813,0.967649,1.368845,63.7216,1.609179,12.1858,2.106063,180,0.0,0.0,45.09319,40.0
0023200606030400901513,3.352901,6.679677,73.4189,1.397641,18.2434,3.405766,250,0.0,0.0,44.73563,NaN

There are some missing stand ID's, going to drop the NAs rows for now, revisit later

## Selecting Management Style 
Gong to define a management style upfront to create rule set

In [4]:
MANAGEMENT_STYLE = 'Heavy'

In [5]:
mgmt_df = netc_expanded[netc_expanded['Management'] == MANAGEMENT_STYLE]

Choosing a left join to drop `na` for

In [6]:
def get_mgmt_df(target_df, pred_df):
    """
    Returns labeled DF for salvage and non salvage decisions
    """
    temp_df = pd.DataFrame(columns=['Stand_ID', 'Salvage_Good', 'Result'])
    for stand in target_df['Stand_ID'].unique():
        group_df = target_df[
            target_df['Stand_ID'] == stand
        ].groupby(['Salvage']).agg({'Result': np.mean})
        
        # If index is True where min is acheived
        if group_df['Result'].idxmin():
            temp_df = temp_df.append(
                pd.DataFrame({
                    'Stand_ID': [stand],
                    'Salvage_Good': [True],
                    'Result': [group_df['Result'].min()]
                })
            )
        else:
            temp_df = temp_df.append(
                pd.DataFrame({
                    'Stand_ID': [stand],
                    'Salvage_Good': [False],
                    'Result': [group_df['Result'].min()]
                })
            )
            
    temp_df = temp_df.set_index('Stand_ID')
    return pd.merge(pred_df, temp_df, on="Stand_ID", right_index=True)

In [7]:
heavy_df = get_mgmt_df(mgmt_df, predictors)

In [8]:
heavy_df = heavy_df.dropna()

In [9]:
heavy_df.head()

,BF_BA,OHost_BA,BF_Stock,OHost_Stock,NonHost_Stock,BF_QMD,ELEV,SLOPE,ASPECT,LAT,SiteInd,Salvage_Good,Result
Stand_ID,,,,,,,,,,,,,
0023200606030200300826,3.899610,11.890484,21.8437,0.885569,18.6635,4.965398,1170,0.0,0.0,47.19684,28.0,False,-334.674834
0023200606030200300924,0.036869,7.443510,0.2679,1.166825,3.8019,2.600000,990,0.0,0.0,46.64171,33.0,True,-298.014370
0023200606030301901813,0.967649,1.368845,63.7216,1.609179,12.1858,2.106063,180,0.0,0.0,45.09319,40.0,True,-384.166289
0023200606030702501209,2.604667,6.283662,46.1259,1.327920,37.9627,3.545086,1360,0.0,0.0,46.33241,31.0,True,-256.942387
0023200606030702501226,17.937933,19.655671,60.2632,0.808564,11.8988,6.622135,1480,25.0,216.0,45.69559,38.0,False,-279.004477

Here we can see that the option to not salvage benefited more than salvaging, so in this case we won't offer salvage credit.

In [10]:
def create_design_matrices(df, quantiles):
    """Create A_N and A_P"""
    measurement = pd.DataFrame()
    measurement['Salvage_Good'] = heavy_df['Salvage_Good']
    labels = ['Q' + str(q) for q in range(1, quantiles+1)]
    
    for col in heavy_df:
        if col == 'Result' or col == 'Salvage_Good':
            continue
            
        try:
            measurement[col] = pd.qcut(heavy_df[col], quantiles, labels=labels)
        except ValueError:
            labels = ['Q' + str(q) for q in range(1, quantiles-1)]
            measurement[col] = pd.qcut(heavy_df[col], quantiles-2, labels=labels)
            labels = ['Q' + str(q) for q in range(1, quantiles)]

    measurement = pd.get_dummies(measurement).drop('Salvage_Good_False', axis=1)
    A_p = measurement[measurement['Salvage_Good_True'] == 1].drop('Salvage_Good_True', axis=1)
    A_n = measurement[measurement['Salvage_Good_True'] != 1].drop('Salvage_Good_True', axis=1)
    
    
    return A_p.to_numpy(), A_n.to_numpy(), measurement.to_numpy(), list(A_p.columns)

In [11]:
A_p, A_n, measurement, features = create_design_matrices(heavy_df, 2)

In [12]:
pd.DataFrame(A_p, columns=features)

,BF_BA_Q1,BF_BA_Q2,OHost_BA_Q1,OHost_BA_Q2,BF_Stock_Q1,BF_Stock_Q2,OHost_Stock_Q1,OHost_Stock_Q2,NonHost_Stock_Q1,NonHost_Stock_Q2,...,ELEV_Q1,ELEV_Q2,SLOPE_Q1,SLOPE_Q2,ASPECT_Q1,ASPECT_Q2,LAT_Q1,LAT_Q2,SiteInd_Q1,SiteInd_Q2
0,1,0,0,1,1,0,0,1,1,0,...,0,1,1,0,1,0,0,1,1,0
1,1,0,1,0,0,1,0,1,1,0,...,1,0,1,0,1,0,1,0,1,0
2,0,1,0,1,0,1,0,1,1,0,...,0,1,1,0,1,0,0,1,1,0
3,0,1,0,1,1,0,1,0,1,0,...,0,1,1,0,1,0,1,0,1,0
4,1,0,0,1,0,1,0,1,1,0,...,1,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2768,0,1,0,1,1,0,1,0,0,1,...,0,1,1,0,1,0,1,0,1,0
2769,1,0,0,1,0,1,0,1,0,1,...,1,0,0,1,0,1,1,0,0,1
2770,0,1,0,1,0,1,1,0,0,1,...,0,1,0,1,1,0,1,0,0,1
2771,0,1,1,0,1,0,1,0,0,1,...,0,1,0,1,0,1,1,0,0,1
2772,1,0,1,0,1,0,1,0,1,0,...,0,1,0,1,0,1,1,0,0,1

### Solve

In [13]:
import gurobipy as gp
from gurobipy import GRB

In [14]:
m = gp.Model("rule-extraciton")

Using license file /home/sean/gurobi.lic
Academic license - for non-commercial use only - expires 2020-12-08

In [15]:
w = m.addMVar(shape=A_p.shape[1], name="weights")
psi_p = m.addMVar(shape=A_p.shape[0], name="psi_p")
psi_n = m.addMVar(shape=A_n.shape[0], name="psi_n")

In [16]:
m.addConstr(w <= 1.0)
m.addConstr(w >= 0.0)
m.addConstr(psi_p <= 1)
m.addConstr(psi_p >= 0)
m.addConstr(psi_n >= 0)
m.addConstr(A_p @ w + psi_p >= 1.0)
m.addConstr(A_n @ w == psi_n)
m.update()

In [17]:
m.setObjective(sum(w) + 1000 * (sum(psi_p) + sum(psi_n)), GRB.MINIMIZE)

In [18]:
m.optimize()

Gurobi Optimizer version 9.1.0 build v9.1.0rc0 (linux64)
Thread count: 6 physical cores, 12 logical processors, using up to 12 threads
Optimize a model with 11291 rows, 4259 columns and 57898 nonzeros
Model fingerprint: 0x9e451d55
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [1e+00, 1e+03]
  Bounds range     [0e+00, 0e+00]
  RHS range        [1e+00, 1e+00]

Concurrent LP optimizer: primal simplex, dual simplex, and barrier
Showing barrier log only...

Presolve removed 8518 rows and 1464 columns
Presolve time: 0.01s
Presolved: 2773 rows, 2795 columns, 33276 nonzeros

Ordering time: 0.00s

Barrier statistics:
 Dense cols : 22
 AA' NZ     : 9.229e+03
 Factor NZ  : 1.032e+04 (roughly 1 MByte of memory)
 Factor Ops : 1.246e+05 (less than 1 second per iteration)
 Threads    : 1

                  Objective                Residual
Iter       Primal          Dual         Primal    Dual     Compl     Time
   0   9.77914397e+06 -1.55798183e+08  0.00e+00 1.15e+03  1.36e+05     0s
   1   2.68306723e+06 -3.08704503e+07  0.00e+00 1.17e+03  1.33e+04     0s
   2   2.22079554e+06 -1.76655677e+06  0.00e+00 1.52e-08  1.57e+03     0s
   3   1.76700162e+06  7.68945084e+05  0.00e+00 7.56e+00  3.91e+02     0s
   4   1.58272359e+06  1.28709660e+06  0.00e+00 1.46e-09  1.16e+02     0s
   5   1.50988000e+06  1.41882595e+06  0.00e+00 1.05e-09  3.56e+01     0s
   6   1.46592820e+06  1.46134018e+06  0.00e+00 1.63e-09  1.79e+00     0s
   7   1.46400214e+06  1.46400104e+06  0.00e+00 2.44e-09  4.27e-04     0s
   8   1.46400200e+06  1.46400200e+06  0.00e+00 3.84e-09  4.27e-07     0s
   9   1.46400200e+06  1.46400200e+06  3.54e-16 6.40e-09  8.98e-13     0s

Barrier solved model in 9 iterations and 0.03 seconds
Optimal objective 1.46400200e+06

Crossover log...

     827 DPushes remaining with DInf 0.0000000e+00                 0s
       0 DPushes remaining with DInf 0.0000000e+00                 0s

      10 PPushes remaining with PInf 0.0000000e+00                 0s
       0 PPushes remaining with PInf 0.0000000e+00                 0s

  Push phase complete: Pinf 0.0000000e+00, Dinf 7.8580342e-10      0s

Iteration    Objective       Primal Inf.    Dual Inf.      Time
     601    1.4640020e+06   0.000000e+00   0.000000e+00      0s

Use crossover to convert LP symmetric solution to basic solution...
Crossover log...


Solved with dual simplex
Solved in 2201 iterations and 0.05 seconds
Optimal objective  1.464002000e+06

In [19]:
m.getVarByName("weights[0]")
for i in range(measurement.shape[1]):
    print(m.getVarByName("weights[" + str(i) + "]"))

<gurobi.Var weights[0] (value 0.0)>
<gurobi.Var weights[1] (value 0.0)>
<gurobi.Var weights[2] (value 0.0)>
<gurobi.Var weights[3] (value 0.0)>
<gurobi.Var weights[4] (value 1.0)>
<gurobi.Var weights[5] (value 1.0)>
<gurobi.Var weights[6] (value 0.0)>
<gurobi.Var weights[7] (value 0.0)>
<gurobi.Var weights[8] (value 0.0)>
<gurobi.Var weights[9] (value 0.0)>
<gurobi.Var weights[10] (value 0.0)>
<gurobi.Var weights[11] (value 0.0)>
<gurobi.Var weights[12] (value 0.0)>
<gurobi.Var weights[13] (value 0.0)>
<gurobi.Var weights[14] (value 0.0)>
<gurobi.Var weights[15] (value 0.0)>
<gurobi.Var weights[16] (value 0.0)>
<gurobi.Var weights[17] (value 0.0)>
<gurobi.Var weights[18] (value 0.0)>
<gurobi.Var weights[19] (value 0.0)>
<gurobi.Var weights[20] (value 0.0)>
<gurobi.Var weights[21] (value 0.0)>
None

In [21]:
features[4]

'BF_Stock_Q1'